--extra-index-url https://download.pytorch.org/whl/cu116
SudachiTra
accelerate
autoflake
black 
fairscale
flake8
fugashi[unidic-lite]
fugashi[unidic]
ginza
ginza
ginza 
ipykernel
ipywidgets
isort
ja_ginza_electra
japanize_matplotlib
jupyter
jupyterlab
jupyterlab-git
jupyterlab_code_formatter
matplotlib
megatron-lm
mlflow
nltk
numpy
pandas
pickledb
protobuf
python-terrier
pytorch-lightning
scikit-learn
scipy
sentencepiece
spacy
sudachipy  
tensorboard
tinydb
torch==1.13.0+cu116
tqdm
pyarrow
fastparquet
datasets
evaluate
PyYAML>=6.0
py-cpuinfo
triton==1.0